<!DOCTYPE html>
<html lang="en" ng-app="produtoModule">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SCP -  Sistema de Cadastro de Produtos</title>
     
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <div ng-include src="'menu.html'"></div>
       <!-- AngularJs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    
    <script src="control/produto.js"></script>
  </head>
  <body ng-controller="produtoControl">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Cadastro</a></li>
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Dados</a></li>
          
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="col-sm-1 form-label">Código</label>
                  <div class="col-sm-5">
                    <input type="code" class="form-control" ng-model="produto.codigo"
                            disabled="true" placeholder="código">
                  </div>        
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1" class="col-sm-1 form-label">Nome</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="produto.nome"
                    placeholder="nome">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPreco" class="col-sm-1 form-label">Preço</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="produto.preco"
                    placeholder="preço">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputFornecedor" class="col-sm-1 form-label">Fornecedor</label>
                  <div class="col-sm-5">
                    <select class="form-control"
                            ng-model="produto.fornecedor"
                            ng-selected="produto.fornecedor"
                            ng-options="fornecedor.nome for fornecedor in fornecedores track by fornecedor.codigo">
                                     
                    </select>
                  </div>
                </div>

                 </br>
                 </br>
                <button type="button" class="btn btn-info" ng-click="novo();">Novo</button>
                <button type="submit" class="btn btn-primary" ng-click="salvar();">Salvar</button>
                <button type="button" class="btn btn-danger" ng-click="excluir();">Excluir</button>
              </form>
          </div>
          <div role="tabpanel" class="tab-pane" id="profile">
              <table class="table table-hover">
                <th>Código</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Fornecedor</th>
                <tr ng-repeat="produtoTabela in produtos" 
                    ng-click="selecionaProduto(produtoTabela);" >
                  <td>{{produtoTabela.codigo}}</td>
                  <td>{{produtoTabela.nome}}</td>
                  <td>{{produtoTabela.preco}}</td>
                  <td>{{produtoTabela.fornecedor.nome}}</td>
                </tr>
              </table>
          </div>
           
    </div>

  </div>
  </body>
</html>